
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete_Record</title>
</head>
<body>
    <div>
        <h1> Your data is deleted!!!</h1>
        <a href="Display_Record" class="button">back to list</a>
    </div>
</body>
</html>

